*, *::after, *::before {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    background: linear-gradient(rgba(17, 36, 90, 0.8), rgba(17, 36, 90, 0.8)), url(./Father-of-mathematics.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 32px;
    border: 1.5px solid black;
    outline: none;
    background-color: rgba(208, 209, 234, 0.75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
}


